<div class="painel_login">
    <form [formGroup]="formulario"
        class="painel_login-container">
        <div class="painel_login-container-header">
            <h3>Acesse sua conta</h3>
        </div>
        <mat-form-field
            class="painel_login-container-input_email
                painel_login-container-form">
            <mat-label>E-mail:</mat-label>
            <input id="inputEmail" matInput formControlName="email">
            <mat-error *ngIf="formulario.get('email')?.hasError('required')">
                O e-mail está <strong>incompleto.</strong>
            </mat-error>
            <mat-error *ngIf="formulario.get('email')?.hasError('email')">
                Endereço de email <strong>inválido.</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="painel_login-container-input_senha
            painel_login-container-form">
            <mat-label>Senha:</mat-label>
            <input id="inputSenha"
                matInput formControlName="senha" type="password">
        </mat-form-field>
        <div class="painel_login-container-form senha">
            <button mat-button (click)="login()">Entrar</button>
        </div>
    </form>
    <div class="painel_login-spinner" *ngIf="isLoading">
        <mat-spinner diameter="50"></mat-spinner>
    </div>
</div>
