<div class="endereco-form">
    <form [formGroup]="formEndereco"
        class="endereco-form-tabs_container-form">
        <mat-card class="endereco-form-tabs_container-form-tipo_residencia">
            <h3>{{ endereco?.apelidoId || "Endereço "+index }}</h3>
            <div class="endereco-form-tabs_container-form-tipo_residencia-description">
                <span>{{ endereco?.logradouro }}, {{ endereco?.numero }}</span>
                <span>{{ endereco?.cidade.descricao}}, {{ endereco?.cidade.estado.descricao}}.</span>
                <span>{{ endereco?.cep }}</span>
            </div>
            <div class="endereco-form-tabs_container-form-tipo_residencia-options">
                <button mat-button (click)="atualizarEndereco()">
                    Atualizar Dados
                </button>
                <button mat-button color="warn"
                    (click)="removerEndereco()">
                    Remover Endereço
                </button>
            </div>
        </mat-card>

    </form>
    <div class="endereco-form-option_container">
        <mat-progress-spinner *ngIf="isLoading"
            class="client-form-spinner"
            color="primary" diameter="50"
            mode="indeterminate">
        </mat-progress-spinner>
    </div>
</div>
<mat-divider></mat-divider>