.endereco-form {
    margin-top: 8px;
    
    &-tabs_container {

        &-form {
            margin-top: 8px;

            mat-form-field {
                margin-left: 10px;
            }

            &-tipo_residencia {
                margin: 15px;
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                align-items: center;
                gap: 10px;

                mat-label {
                    font-weight: bold;
                }

                mat-radio-group {
                    mat-radio-button {
                        margin-left: 5px;
                    }
                }

                &-description {
                    display: flex;
                    justify-content: flex-end;
                    flex-direction: column;
                    gap: 5px;
                }
            }
        }
    }

    &-option_container {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 15px;
    }
}