<div class="endereco">
  <div>
    <h3>Novo Endereço:</h3>
  </div>
  <form [formGroup]="formEndereco" class="endereco-form">
    <mat-form-field>
      <mat-label>Nome:</mat-label>
      <input matInput formControlName="nome" placeholder="Nome" type="text" id="txtNomeEndereco">
    </mat-form-field>

    <mat-form-field>
      <mat-label>CEP:</mat-label>
      <input matInput formControlName="cep" placeholder="00000-000" mask="00000-000" type="text"
        (keyup)="consultarCEP($event)" id="txtCep">
    </mat-form-field>

    <mat-form-field id="selectTiposLog">
      <mat-label>Tipo Logradouro: </mat-label>
      <mat-select [(value)]="selectedTipoLogradouro">
        <mat-option *ngFor="let tipoLog of tiposLogradouros" [value]="tipoLog">
          {{ tipoLog }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Endereço: </mat-label>
      <input matInput formControlName="logradouro" placeholder="Digite seu endereço" type="text">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Bairro:</mat-label>
      <input matInput formControlName="bairro" placeholder="Bairro" type="text">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Complemento:</mat-label>
      <input matInput formControlName="complemento" placeholder="Digite o complemento" type="text">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Numero:</mat-label>
      <input matInput formControlName="numero" type="text" id="txtNumero">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Estado:</mat-label>
      <mat-select [(value)]="selectedEstado" (selectionChange)='onEstadoSelecionado(selectedEstado)'>
        <mat-option *ngFor="let estado of estados" [value]="estado">
          {{ estado.uf }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field formGroupName="cidade">
      <mat-label>Cidade:</mat-label>
      <mat-select [(value)]="selectedCidade">
        <mat-option *ngFor="let cidade of cidades" [value]="cidade">
          {{ cidade.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>País:</mat-label>
      <input matInput formControlName="pais" placeholder="País" type="text">
    </mat-form-field>
    <br>
    <mat-radio-group class="endereco-form-tipo_endereco" aria-label="Tipo de Endereço">

      <mat-label>Tipo de Endereço:</mat-label>

      <mat-radio-group name="tipoEnderecosRadioList" fxLayout="column">
        <mat-radio-button *ngFor="let enderecoOption of tipoEnderecos" name="tipoEnderecosRadio"
          [value]="enderecoOption.nome" class="txtTipoEndereco">

          {{ enderecoOption.nome}}</mat-radio-button>
      </mat-radio-group>

    </mat-radio-group>
  </form>
  <div class="button">
    <button mat-button (click)="salvarNovoEndereco()" id="btnEnviaEndereco">Enviar Novo</button>
  </div>
</div>
