<mat-sidenav-container class="admin-domain">
    <mat-sidenav mode="side" opened>
      <ul class="admin-domain-options">
        <li>
          <span>Livros</span>
          <div class="admin-domain-options-item">
            <mat-icon>add</mat-icon>
            <a routerLink="/admin">Novo Livro</a>
          </div>
          <div class="admin-domain-options-item">
            <mat-icon>search</mat-icon>
            <a routerLink="/admin">Consulta</a>
          </div>
        </li>
        <li>
          <span>Clientes</span>
          <div class="admin-domain-options-item">
            <mat-icon>search</mat-icon>
            <a routerLink="/admin">Consulta</a>
          </div>
        </li>
        <li>
          <span>Vendas</span>
          <div class="admin-domain-options-item">
            <mat-icon>search</mat-icon>
            <a routerLink="/admin">Consulta</a>
          </div>
        </li>
        <li>
          <span>Estoque</span>
          <div class="admin-domain-options-item">
            <mat-icon>add</mat-icon>
            <a routerLink="/admin">Entrada</a>
          </div>
          <div class="admin-domain-options-item">
            <mat-icon>remove</mat-icon>
            <a routerLink="/admin">Baixa</a>
          </div>
        </li>
      </ul>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>