<mat-sidenav-container class="admin-domain">
    <mat-sidenav mode="side" opened>
      <ul>
        <li>
          <a routerLink="/admin">Nossos Clientes</a>
        </li>
        <li>
          <a routerLink="/admin">Livros</a>
        </li>
        <li>
          <a routerLink="/admin">Resultados</a>
        </li>
        <li>
          <a routerLink="/admin">Trocas</a>
        </li>
        <li>
          <a routerLink="/admin">Cancelamento</a>
        </li>
        <li>
          <a routerLink="/admin">Estoque</a>
        </li>
      </ul>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>