.carrinho_finalizacao {

    &-header {
        margin-bottom: 15px;
        
        h3 {
            font-weight: bold;
        }
    }

    &-forma_pagto {
        margin-top: 15px;
        width: 100%;

        &-cartoes {
            margin-bottom: 15px;
            display: flex;
            flex-direction: row;
            width: 40%;
            align-items: center;
            gap: 8px;

            &-descricao-title {
                font-weight: bold;
            }

            mat-icon {
                cursor: pointer;
            }

            &-novo {
                margin-top: 15px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 8px;

                &-footer {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
            }
        }
    
        &-parcelas {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &-options {
                display: flex;
                flex-direction: column;
            
                &-content {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    
                    span {
                        cursor: pointer;
                    }

                    span:hover {
                        color: #fac515;
                    }
                }
            }
        }
    }

    &-totais {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        &-content {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
    }

    &-create_news {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }
}