<div class="carrinho_finalizacao">
    <div class="carrinho_finalizacao-header">
        <h3>Finalizar compra</h3> 
        <mat-divider></mat-divider>
    </div>
    <div class="carrinho_finalizacao-totais">
        <div class="carrinho_finalizacao-totais-content">
            <span>Sub-total: {{ data.total - data.frete | currencyPipe}}</span>
            <span>Frete: {{ data.frete | currencyPipe}}</span>
            <span>Desconto: {{ desconto | currencyPipe }}</span>
        </div>
        <div>
            <span>Total: {{ data.total | currencyPipe }}</span>
        </div>
    </div>
    <div class="carrinho_finalizacao-forma_pagto">
        <h4>Selecione um Cartão de Crédito:</h4>

        <div class="carrinho_finalizacao-forma_pagto-cartoes">
            <mat-icon (click)="selecionaCartaoPreferencial()" id="rdCartaoPreferencial">
                {{ isPagtoPreferencial?'radio_button_checked':'radio_button_unchecked'}}
            </mat-icon>
            <div class="carrinho_finalizacao-forma_pagto-cartoes-descricao">
                <span class="carrinho_finalizacao-forma_pagto-cartoes-descricao-title">
                    {{(cartaoPreferencial$  | async).bandeira}}
                </span>
                <span>{{(cartaoPreferencial$  | async).numeroCartao}}</span>
            </div>
        </div>

        <div class="carrinho_finalizacao-forma_pagto-cartoes">
            <mat-icon (click)="isPagtoPreferencial=false" id="rdCartaoNovo">
                {{ !isPagtoPreferencial?'radio_button_checked':'radio_button_unchecked'}}
            </mat-icon>
            <div class="carrinho_finalizacao-forma_pagto-cartoes-descricao">
                <span class="carrinho_finalizacao-forma_pagto-cartoes-descricao-title">
                    Adicionar novo cartão de crédito
                </span>
            </div>
        </div>

        <div class="carrinho_finalizacao-forma_pagto-parcelas">
            <mat-form-field appearance="fill">
                <mat-label>Parcelas</mat-label>
                <mat-select id="cmbParcelas">
                    <mat-option
                        *ngFor="let parcela of obterParcelas" 
                        [value]="parcela">
                        {{parcela}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="carrinho_finalizacao-forma_pagto-parcelas-options">
                <button mat-raised-button id="btnComprar"
                    color="primary" 
                    (click)="executarPedido()">Comprar</button>
                <div class="carrinho_finalizacao-forma_pagto-parcelas-options-content">
                    <mat-label>Cupom de Troca:</mat-label>
                    <input type="text" #cupomTroca>
                    <span *ngIf="cupomTroca.value">Adicionar</span>
                </div>
                <div class="carrinho_finalizacao-forma_pagto-parcelas-options-content">
                    <mat-label>Cupom Promo:</mat-label>
                    <input type="text" #cupomPromo>
                    <span *ngIf="cupomPromo.value">Adicionar</span>
                </div>
            </div>

        </div>
    </div>

    <div class="carrinho_finalizacao-forma_pagto-carta_novo_data">
        <h5>Cartão Selecionado:</h5>
        <span>{{ cartaoSelecionado?.bandeira }} - {{ cartaoSelecionado?.numeroCartao}}</span>
    </div>

    <form class="carrinho_finalizacao-forma_pagto-cartoes-novo" 
        id="frmCarrinhoFinalizacao"
        *ngIf="!isPagtoPreferencial" [formGroup]="formNovoCartao">
        <mat-form-field
            class="cartoes_form-novo-nome">
            <mat-label>Nome no cartão:</mat-label>
            <input matInput formControlName="nomeNoCartao" id="txtNomeNoCartao"
                placeholder="Nome Completo" type="text">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Número cartão:</mat-label>
            <input matInput formControlName="numeroCartao"
                placeholder="0000.0000.0000.0000" id="txtNumeroCartao"
                mask="0000.0000.0000.0000" type="text">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Bandeira:</mat-label>
            <mat-select formControlName="bandeira" id="matSelectBandeira">
                <mat-option class="bandeira-option"
                    *ngFor="let bandeiraCartao of bandeirasCartao" 
                    [value]="bandeiraCartao?.descricao" #bandeiraOption 
                    (focusout)="patchBandeira(bandeiraOption?.value)">
                    {{ bandeiraCartao.descricao }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Código de segurança:</mat-label>
            <input matInput id="txtCodigoSeguranca"
                formControlName="codigoSeguranca"
                placeholder="000"
                mask="000" type="text">
        </mat-form-field>
        <div class="carrinho_finalizacao-forma_pagto-cartoes-novo-footer">
            <button type="submit" 
                mat-button id="btnNovoCartao"
                (click)="addNovoCartao()">
                + Novo Cartão
            </button>
            <mat-spinner *ngIf="isLoading" diameter="30">
            </mat-spinner>
        </div>
    </form>

    <section class="carrinho_finalizacao-create_news">
        <mat-checkbox id="checkNovoCartao" *ngIf="!isPagtoPreferencial">
            Gravar novo cartão
        </mat-checkbox>
        <mat-checkbox *ngIf="!isGravarNovoEndereco">
            Gravar novo endereço
        </mat-checkbox>
    </section>  
</div>