<div class="client">

    <h2>Cadastro de Cliente</h2>

    <form action="" 
        class="client-form-input">
        <div class="client-form-input_group">
            <mat-form-field class="client-form-input_group-input">
                <mat-label>Nome:</mat-label>
                <input matInput value="Sushi">
            </mat-form-field>
    
            <mat-form-field class="client-form-input_group-input">
                <mat-label>Sobrenome:</mat-label>
                <input matInput value="Sushi">
            </mat-form-field>
        </div>

        <div class="client-form-input_group">
            <mat-form-field class="client-form-input_group-input">
                <mat-label>Aniversário:</mat-label>
                <input matInput value="Sushi">
            </mat-form-field>
        </div>

    </form>

</div>