<div class="gestao-estoque">
    <div class="gestao-estoque-header">
        <h2>Estoque</h2>
        <mat-divider></mat-divider>
    </div>
    <div class="gestao-estoque-container">
        <div class="gestao-estoque-container-content" *ngFor="let element of livros">
            <div class="gestao-estoque-container-content-description">
                <span class="gestao-estoque-container-content-description-id">#{{ element.isbn }}</span>
                <span class="gestao-estoque-container-content-description-title">{{ element.titulo}}</span>
                <span class="gestao-estoque-container-content-author">Autor: {{ element.autor}}</span>
            </div>
            <div class="gestao-estoque-container-control">
                <div class="gestao-estoque-container-content-qtde">
                    <h4>Quantidade</h4>
                    <input type="text" #estoque [value]="element.estoque" class="txtQuantidadeEstoque">
                    <button mat-button color="accent" class="btnAtualizarEstoque"
                        (click)="atualizarEstoque(element, estoque.value)">Atualizar Quantidade</button>
                </div>    
            </div>
        </div>
        <mat-divider></mat-divider>
    </div>
</div>