<div class="gestao-estoque">
    <div class="gestao-estoque-header">
        <h2>Estoque</h2>
        <mat-divider></mat-divider>
    </div>
    <div class="gestao-estoque-container">

        <div class="gestao-estoque-container-content">
            <div class="gestao-estoque-container-content-description">
                <span class="gestao-estoque-container-content-description-id">#100</span>
                <span class="gestao-estoque-container-content-description-title">Harry Potter</span>
                <span class="gestao-estoque-container-content-author">Autor: JKR</span>
            </div>
            <div class="gestao-estoque-container-content-qtde">
                <h4>Quantidade</h4>
                <button>-</button>
                <input type="text">
                <button>+</button>
            </div>
            <div>
                <mat-form-field class="example-full-width">
                    <mat-label>Valor Compra:</mat-label>
                    <input matInput mask="999,99"
                        placeholder="Digite o valor de compra">
                </mat-form-field>
            </div>
            <div>
                <span>Atualizar</span>
            </div>
        </div>
        <mat-divider></mat-divider>
    </div>
</div>