.dashboard {
    margin: 0 auto;
    max-width: 800px;
    min-height: 500px;

    &-header {

        h2 { 
            margin-top: 35px;
            font-size: 1.8em;
        }

        mat-divider {
            margin-bottom: 35px;
        }
    }

    &-form {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }

    &-content {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}