.dashboard {
    margin: 0 auto;
    max-width: 800px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &-header {

        h2 { 
            margin-top: 35px;
            font-size: 1.8em;
        }

        mat-divider {
            margin-bottom: 35px;
        }
    }

    &-form {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }

    &-content {
        liv-genero-chart {
            width: 100%;
        }

        table {
            width: 100%;
            margin-top: 8px;
        }
    }
}