<div class="meus-cupons">
    <div class="meus-cupons-header">
        <h1>Meus Cupons de Troca</h1>
        <mat-divider></mat-divider>
    </div>
    <span *ngIf="!cuponsPromocionais.length">Nenhum cupom de troca associado a esta conta.</span>
    <div class="meus-cupons-lista" *ngFor="let cupom of cuponsPromocionais; let i = index">
        <mat-card class="meus-cupons-lista-card">
            <div class="meus-cupons-lista-card-code">
                <span class="meus-cupons-lista-card-code-number">
                    cupom promocional
                </span>
                <span class="meus-cupons-lista-card-code-content">
                    #{{ cupom.codigo }}
                </span>
            </div>
            <div class="meus-cupons-lista-card-description">
                <div class="meus-cupons-lista-card-description-header">
                    <button mat-button>Copiar!</button>
                </div>
                <div class="meus-cupons-lista-card-description-middle">
                    <span>{{cupom.nome}}</span>
                </div>
                <div class="meus-cupons-lista-card-description-footer">
                    Valor: {{ cupom.valor | currency: 'BRL'}}
                </div>
            </div>
        </mat-card>
    </div>

    <div class="meus-cupons-lista" *ngFor="let cupom of cuponsTroca; let i = index">
        <mat-card class="meus-cupons-lista-card">
            <div class="meus-cupons-lista-card-code">
                <span class="meus-cupons-lista-card-code-number">
                    cupom de troca
                </span>
                <span class="meus-cupons-lista-card-code-content">
                    #{{ cupom.codigo }}
                </span>
            </div>
            <div class="meus-cupons-lista-card-description">
                <div class="meus-cupons-lista-card-description-header">
                    <button mat-button>Copiar!</button>
                </div>
                <div class="meus-cupons-lista-card-description-middle">
                    <span>{{cupom.nome}}</span>
                </div>
                <div class="meus-cupons-lista-card-description-footer">
                    Valor: {{ cupom.valor | currency: 'BRL'}}
                </div>
            </div>
        </mat-card>
    </div>
</div>