<div class="meus-cupons">
    <div class="meus-cupons-header">
        <h1>Meus Cupons</h1>
        <mat-divider></mat-divider>
    </div>
    <div class="meus-cupons-lista">
        <mat-card class="meus-cupons-lista-card">
            <div class="meus-cupons-lista-card-code">
                <span class="meus-cupons-lista-card-code-number">
                    número
                </span>
                <span class="meus-cupons-lista-card-code-content">
                    #509484
                </span>
            </div>
            <div class="meus-cupons-lista-card-description">
                <div class="meus-cupons-lista-card-description-header">
                    <button mat-button>Copiar!</button>
                </div>
                <div class="meus-cupons-lista-card-description-middle">
                    <span>Cupom Promocional</span>
                </div>
                <div class="meus-cupons-lista-card-description-footer">
                    Válido até: 09/12
                </div>
            </div>
        </mat-card>
    </div>
</div>