.consulta-livros {
    max-width: 900px;
    margin: 0 auto;

    &-header {
        margin-top: 15px;
    }

    &-content {
        width: 100%;
        margin-bottom: 15px;

        table {
            width: 100%;
        }
    }
}