.client_update {
    margin: 0 auto;
    max-width: 800px;

    &-header {

        h2 {
            margin-top: 35px;
            font-size: 1.8em;
        }

        mat-divider {
            margin-bottom: 35px;
        }
    }

    &-tabs_container {
        min-height: 300px;

        &-form {
            margin-top: 30px;

            mat-form-field {
                margin-left: 10px;
            }
        }

        &-message {
            display: flex;
            flex-direction: row;
        }
    }

    &-option_container {
        display: flex;
        justify-content: start;
        margin-bottom: 40px;

        &-disable_account{
          color: #D46A6A;
        }
    }


}
