<div class="client_update">

    <div class="client_update-header">
        <h2>Dados do Cliente</h2>
        <mat-divider></mat-divider>
    </div>

    <mat-tab-group mat-align-tabs="start" class="client_update-tabs_container">

        <mat-tab label="Dados do Cliente">
            <form [formGroup]="formDadosCliente"
                class="client_update-tabs_container-form">
                <mat-form-field>
                    <mat-label>Nome: </mat-label>
                    <input matInput [formControl]="formDadosCliente.get('nome')"
                        placeholder="Primeiro Nome">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Sobrenome:</mat-label>
                    <input matInput formControlName="sobrenome"
                        placeholder="Segundo nome">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Data de Nascimento:</mat-label>
                    <input matInput formControlName="dataNascimento"
                        type="date">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>CPF:</mat-label>
                    <input matInput formControlName="cpf"
                        type="text" mask="000.000.000-00">
                </mat-form-field>
            </form>
            <div class="client_update-option_container">
                <button mat-button (click)="enviarDadosCliente()">Atualizar Dados</button>
                <mat-progress-spinner *ngIf="isLoading"
                    class="client-form-spinner"
                    color="primary" diameter="50"
                    mode="indeterminate">
                </mat-progress-spinner>
            </div>
        </mat-tab>

        <mat-tab label="Endereço">
            <liv-endereco-form [endereco]="endereco" [index]="i+1"
                *ngFor="let endereco of (clienteResponse$ | async)?.enderecos; let i=index">
            </liv-endereco-form>
            <div class="client_update-tabs_container-message">
                <span *ngIf="!(clienteResponse$ | async)?.enderecos">
                    Nenhum endereço foi associado para este cliente.
                </span>
                <button mat-button (click)="abrirModalNovoEndereco()">+ Endereco</button>
            </div>
            
        </mat-tab>

        <mat-tab label="Alterar E-mail">
            <form [formGroup]="formAlterarEmail"
                class="client_update-tabs_container-form">
                <mat-form-field>
                    <mat-label>E-mail: </mat-label>
                    <input matInput value="{{ (clienteResponse$ | async)?.email}}"
                        type="email" disabled="true">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Novo e-mail: </mat-label>
                    <input matInput formControlName="email" 
                        placeholder="Endereço de e-mail válido" 
                        type="email">
                    <mat-error *ngIf="formDadosCliente.get('email')?.hasError('required')">
                        Email, <strong>incompleto.</strong>
                    </mat-error>
                    <mat-error *ngIf="formDadosCliente.get('email')?.hasError('email')">
                        Não é um <strong> e-mail válido.</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Repita o e-mail: </mat-label>
                    <input matInput formControlName="confirmacaoEmail"
                        placeholder="Endereço de e-mail válido" 
                        type="email">

                    <mat-error *ngIf="formDadosCliente.get('confirmacaoEmail')?.hasError('required')">
                        Favor, <strong>redigite o e-mail.</strong>
                    </mat-error>
                    <mat-error *ngIf="formDadosCliente.get('confirmacaoEmail')?.hasError('mismatch')">
                        E-mails <strong> não estão iguais.</strong>
                    </mat-error>
                    <mat-error *ngIf="formDadosCliente.get('confirmacaoEmail')?.hasError('email')">
                        Não é um <strong> e-mail válido.</strong>
                    </mat-error>
                </mat-form-field>
            </form>
            <div class="client_update-option_container">
                <mat-progress-spinner *ngIf="isLoading"
                    class="client-form-spinner"
                    color="primary" diameter="50"
                    mode="indeterminate">
                </mat-progress-spinner>
                <button mat-button [disabled]="formAlterarEmail.invalid" (click)="atualizarEmail()">Atualizar Dados</button>
            </div>
        </mat-tab>

        <mat-tab label="Alterar Senha">
            <form [formGroup]="formAlterarSenha"
                class="client_update-tabs_container-form">
                <mat-form-field >
                    <mat-label>Nova senha: </mat-label>
                    <input matInput type="password" 
                        formControlName="senha">
                </mat-form-field>
                <mat-form-field >
                    <mat-label>Repita a senha: </mat-label>
                    <input matInput type="password" 
                        formControlName="confirmacaoSenha">
                </mat-form-field>
            </form>
            <div class="client_update-option_container">
                <mat-progress-spinner *ngIf="isLoading"
                    class="client-form-spinner"
                    color="primary" diameter="50"
                    mode="indeterminate">
                </mat-progress-spinner>
                <button mat-button (click)="atualizarSenha()">Atualizar Dados</button>
            </div>
        </mat-tab>

        <mat-tab label="Cartão de Crédito" isActive>
            <liv-cartoes-form></liv-cartoes-form>
        </mat-tab>

    </mat-tab-group>
</div>