<div class="client_update" *ngIf="(clienteResponse$ | async)">

    <div class="client_update-header">
        <h2>Dados do Cliente</h2>
        <mat-divider></mat-divider>
    </div>

    <mat-tab-group mat-align-tabs="start" class="client_update-tabs_container">

        <mat-tab label="Dados do Cliente" data-cy="tab-1">
            <form [formGroup]="formDadosCliente"
                class="client_update-tabs_container-form">
                <mat-form-field>
                    <mat-label>Nome: </mat-label>
                    <input matInput id="txtNome"
                        [formControl]="formDadosCliente?.get('nome')"
                        placeholder="Primeiro Nome">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Sobrenome:</mat-label>
                    <input matInput id="sobrenome"
                        formControlName="sobrenome"
                        placeholder="Segundo nome">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Data de Nascimento:</mat-label>
                    <input matInput id="dataNascimento"
                        formControlName="dataNascimento"
                        type="date">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>CPF:</mat-label>
                    <input matInput id="cpf"
                        formControlName="cpf"
                        type="text" mask="000.000.000-00">
                </mat-form-field>
            </form>

            <div class="client_update-option_container">
                <button mat-button (click)="enviarDadosCliente()" id="btnAtualizaDados">Atualizar Dados</button>
                <button mat-button color="warn"
                    (click)="inativarClientePorId()">Desativar conta</button>
                <mat-progress-spinner *ngIf="isLoading"
                    class="client-form-spinner"
                    color="primary" diameter="50"
                    mode="indeterminate">
                </mat-progress-spinner>
            </div>
        </mat-tab>

        <mat-tab label="Telefones" data-cy="tab-2">
            <liv-telefones-management></liv-telefones-management>
        </mat-tab>

        <mat-tab label="Endereço">
            <liv-endereco-form [endereco]="endereco" [index]="i+1" (dadosAtualizacao)="atualizarEnderecos($event)"
                *ngFor="let endereco of (clienteResponse$ | async)?.enderecos; let i=index">
            </liv-endereco-form>
            <span *ngIf="!(clienteResponse$ | async)?.enderecos">
                Nenhum endereço foi associado para este cliente.
            </span>

            <div *ngIf="isNovoEnderecoForm">
                <novo-endereco-form></novo-endereco-form>
            </div>

            <div class="client_update-tabs_container-message">
                <button mat-button (click)="isNovoEnderecoForm = !isNovoEnderecoForm">
                    {{ isNovoEnderecoForm? 'Cancelar': '+ Endereço' }}
                </button>
            </div>
            
        </mat-tab>

        <mat-tab label="Alterar E-mail">
            <form [formGroup]="formEmail"
                class="client_update-tabs_container-form">
                <mat-form-field>
                    <mat-label>E-mail: </mat-label>
                    <input matInput value="{{ (clienteResponse$ | async)?.email}}"
                        type="email" disabled="true">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Novo e-mail: </mat-label>
                    <input matInput formControlName="email" id="txtEmail"
                        placeholder="Endereço de e-mail válido" 
                        type="email">
                    <mat-error *ngIf="formEmail?.get('email')?.hasError('required')">
                        Email, <strong>incompleto.</strong>
                    </mat-error>
                    <mat-error *ngIf="formEmail?.get('email')?.hasError('email')">
                        Não é um <strong> e-mail válido.</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Repita o e-mail: </mat-label>
                    <input matInput formControlName="confirmacaoEmail" 
                        id="txtConfirmaEmail"
                        placeholder="Endereço de e-mail válido" 
                        type="email">

                    <mat-error *ngIf="formEmail?.get('confirmacaoEmail')?.hasError('required')">
                        Favor, <strong>redigite o e-mail.</strong>
                    </mat-error>
                    <mat-error *ngIf="formEmail?.get('confirmacaoEmail')?.hasError('mismatch')">
                        E-mails <strong> não estão iguais.</strong>
                    </mat-error>
                    <mat-error *ngIf="formEmail?.get('confirmacaoEmail')?.hasError('email')">
                        Não é um <strong> e-mail válido.</strong>
                    </mat-error>
                </mat-form-field>
            </form>
            <div class="client_update-option_container">
                <mat-progress-spinner *ngIf="isLoading"
                    class="client-form-spinner"
                    color="primary" diameter="50"
                    mode="indeterminate">
                </mat-progress-spinner>
                <button mat-button [disabled]="formEmail?.invalid" id="btnEmail"
                    (click)="atualizarEmail()">Atualizar Dados</button>
            </div>
        </mat-tab>

        <mat-tab label="Alterar Senha">
            <form [formGroup]="formSenha"
                class="client_update-tabs_container-form">
                <mat-form-field >
                    <mat-label>Nova senha: </mat-label>
                    <input matInput type="password"  id="txtSenha"
                        formControlName="senha">
                </mat-form-field>
                <mat-form-field >
                    <mat-label>Repita a senha: </mat-label>
                    <input matInput type="password" id="txtConfirmaSenha"
                        formControlName="confirmacaoSenha">
                </mat-form-field>
            </form>
            <div class="client_update-option_container">
                <mat-progress-spinner *ngIf="isLoading"
                    class="client-form-spinner"
                    color="primary" diameter="50"
                    mode="indeterminate">
                </mat-progress-spinner>
                <button mat-button id="btnAtualizaSenha" (click)="atualizarSenha()">
                    Atualizar Senha
                </button>
            </div>
        </mat-tab>

        <mat-tab label="Cartão de Crédito">
            <liv-cartoes-form></liv-cartoes-form>
        </mat-tab>

    </mat-tab-group>
</div>

<div *ngIf="!(clienteResponse$ | async)">
    <span>Cliente não encontrado</span>
</div>