<div class="detalhes-pedido">
    <div class="detalhes-pedido-header">
        <h2>Pedido Admin #{{ detalhesPedido?.numero }}</h2>
        <mat-icon (click)="dialogRef.close()">close</mat-icon>
    </div>
    <h3>Produtos Comprados:</h3>
    <mat-divider></mat-divider>
    <div class="detalhes-pedido-content">
        <div class="detalhes-pedido-content-item" *ngFor="let itemPedido of detalhesPedido?.itensPedido">
            <div class="detalhes-pedido-content-item-image">
                <img src="https://images-na.ssl-images-amazon.com/images/I/81PHloIwKnL.jpg" alt="">
                <span>{{ itemPedido?.nomeLivro }}</span>
            </div>
            <div class="detalhes-pedido-content-item-quantidade">
                <span>{{ itemPedido?.qtdComprada }} unidades</span>
            </div>
            <div class="detalhes-pedido-content-item-valor">
                <span>{{ (itemPedido?.valorUnitario | currency: "BRL").replace(".", ",") }} </span>
            </div>

            <div class="detalhes-pedido-content-item-status">
                <span>{{ itemPedido?.statusPedido }} </span>
            </div>

            <div class="detalhes-pedido-content-opcoes">
                <button *ngIf="itemPedido?.statusPedido === 'TROCA_SOLICITADA'"
                    mat-button 
                    color="primary" 
                    (click)="aprovarTroca(itemPedido)">
                    Aprovar Solicitação
                </button>

                <button *ngIf="itemPedido?.statusPedido === 'TROCA_SOLICITADA'"
                    mat-button 
                    color="warn" 
                    (click)="recusarTroca(itemPedido)">
                    Recusar Solicitação
                </button>

                <button *ngIf="itemPedido?.statusPedido === 'EM_TROCA'"
                    mat-button 
                    color="accent" 
                    (click)="confirmarRecebimentoTroca(itemPedido)">
                    Confirmar recebimento troca
                </button>
            </div>
        </div>
    </div>

    <div class="detalhes-pedido-descriptions">
        <div class="detalhes-pedido-descriptions-content">
            <span>Total: {{ (detalhesPedido?.valorTotal | currency:'BRL').replace(".", ",") }}</span>
            <span>Data do Pedido: {{ detalhesPedido?.dataCriacao | date: 'dd/MM/YYYY'}}</span>
        </div>
        <div class="detalhes-pedido-descriptions-status">
            <span>Status: {{ detalhesPedido?.status }}</span>
        </div>
    </div>
</div>