<mat-sidenav-container class="cliente-domain">
    <mat-sidenav mode="side" opened>
      <ul>
        <li>
            <!-- <a routerLink="/clientes/meus_dados">Meus Dados</a> -->
            <a routerLink="/clientes">Meus Dados</a>
        </li>
        <li>
            <a routerLink="/clientes/pedidos">Pedidos</a>
        </li>
        <li>
          <a routerLink="/clientes/cupons">Meus Cupons</a>
        </li>
      </ul>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
