<div class="finalizacao-pedido">
    <div class="finalizacao-pedido-content">
        <h3>Forma de pagamento</h3>
        <mat-divider></mat-divider>

        <form [formGroup]="form">
            <div class="finalizacao-pedido-content-form"
                formArrayName="cartoes"
                *ngFor="let cartao of form?.get('cartoes')?.controls; let index = index;">

                <div class="finalizacao-pedido-content-form-header">
                    <h4>Cartão {{index+1}}</h4>
                    <mat-icon (click)="removeCartao(index)" 
                        *ngIf="form?.get('cartoes')?.controls.length !== 1">
                        close
                    </mat-icon>
                </div>
                <div class="finalizacao-pedido-content-form-options" [formGroupName]="index">
                    <mat-radio-group aria-label="Select an option" formControlName="isNovoCartao"
                        *ngIf="(cartoesCliente$ | async)?.length">
                        <mat-radio-button [value]="false">
                            Meus Cartões
                        </mat-radio-button>
                        <mat-radio-button [value]="true">
                            Novo Cartão de Crédito
                        </mat-radio-button>
                    </mat-radio-group>

                    <mat-radio-group aria-label="Select an option" 
                        *ngIf="!(cartoesCliente$ | async)?.length" formControlName="isNovoCartao">
                        <mat-radio-button [disabled]="true">
                            Meus Cartões
                        </mat-radio-button>
                        <mat-radio-button [value]="true">
                            Novo Cartão de Crédito
                        </mat-radio-button>
                    </mat-radio-group>
                </div>

                <div class="finalizacao-pedido-content-form-meus_cartoes">
                    <mat-form-field *ngIf="!form.get('cartoes').controls[index].get('isNovoCartao').value">
                        <mat-label>Meus cartões:</mat-label>
                        <mat-select>
                            <mat-option (click)="patchFornGroup(index, cartaoCliente)"
                                *ngFor="let cartaoCliente of (cartoesCliente$ | async)" value="cartaoCliente">
                                {{ cartaoCliente.bandeira }} - {{ cartaoCliente.numero }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div class="finalizacao-pedido-content-form-novo_cartao"
                        *ngIf="form.get('cartoes').controls[index].get('isNovoCartao').value">
                        <span> "novo cartao form" </span>
                    </div>

                    <div class="finalizacao-pedido-content-form-meus_cartoes-valor">
                        <mat-form-field class="example-full-width">
                            <mat-label>Valor:</mat-label>
                            <input matInput mask="000,00"
                                placeholder="Digite o valor pago neste cartão">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </form>
            
        <div>
            <button color="primary" mat-button (click)="addCartao()">+ Cartão</button>
        </div>
    </div>
</div>