.detalhes-pedido {

    &-header {
        display: flex;
        justify-content: space-between;

        mat-icon {
            cursor: pointer;
        }
    }

    &-content {
        max-height: 320px;

        &-item {
            display: flex;
            align-items: center;
            margin-top: 10px;
            gap: 10px;

            &-image {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 8px;
                width: 500px;

                img {
                    width: 75px;
                }
            }
        }

        &-opcoes-input {
            width: 100px;
        }
    }

    &-descriptions {
        margin-top: 80px;
        display: flex;
        justify-content: space-between;

        &-content {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
        }
    }
}

.nome-livro {
    display: flex;
    flex-direction: column;

    &-qtde-trocada {
        color: #888585;
        font-size: 12px;
    }
}