<div class="detalhes-pedido">
    <div class="detalhes-pedido-header">
        <h2>Pedido #{{ detalhesPedido?.numero }}</h2>
        <mat-icon (click)="dialogRef.close()">close</mat-icon>
    </div>
    <h3>Produtos Comprados:</h3>
    <mat-divider></mat-divider>

    <!-- id: number;
    idLivro: number;
    nomeLivro: string;
    qtdComprada: number;
    valorUnitario: number;
    valorTotal: number;
    statusPedido: string; -->

    <div class="detalhes-pedido-content">
        <div class="detalhes-pedido-content-item" 
            *ngFor="let itemPedido of detalhesPedido?.itensPedido; let i = index">
            <div class="detalhes-pedido-content-item-image">
                <!-- <img src="https://images-na.ssl-images-amazon.com/images/I/81PHloIwKnL.jpg" alt=""> -->
                <img src="https://naturestore.com.br/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/placeholder/default/produto-sem-imagem.gif" alt="">
                <div class="nome-livro">
                    <span>{{ itemPedido?.nomeLivro }}</span>
                    <span class="nome-livro-qtde-trocada">(Quantidade Trocada: {{ itemPedido?.quantidadeTrocada }})</span>
                    <span>{{ (itemPedido?.valorUnitario | currency: "BRL").replace(".", ",") }} </span>
                    <span>{{ itemPedido?.qtdComprada }} unidades compradas</span>
                </div>
            </div>
            <!-- <div class="detalhes-pedido-content-item-quantidade">
                <span>{{ itemPedido?.qtdComprada }} unidades</span>
            </div> -->
            <!-- <div class="detalhes-pedido-content-item-valor">
                <span>{{ (itemPedido?.valorUnitario | currency: "BRL").replace(".", ",") }} </span>
            </div> -->

            <div class="detalhes-pedido-content-item-status">
                <span>{{ itemPedido?.statusPedido }} </span>
            </div>

            <div class="detalhes-pedido-content-opcoes" *ngIf="detalhesPedido?.status === 'ENTREGUE'">
                <mat-form-field class="detalhes-pedido-content-opcoes-input"
                    *ngIf="itemPedido?.qtdComprada > itemPedido?.quantidadeTrocada">
                    <mat-label>Quantidade Troca:</mat-label>
                    <input matInput mask="0000" [(ngModel)]="qtdeTroca[i]" id="txtQtdeTroca">
                </mat-form-field>

                <button *ngIf="itemPedido?.qtdComprada > itemPedido?.quantidadeTrocada"
                    mat-button [disabled]="qtdeTroca[i] <= 0"
                    color="primary" id="btnSolicitarTroca"
                    (click)="solicitarTroca(itemPedido, qtdeTroca[i])">
                    Solicitar Troca
                </button>

                <button *ngIf="itemPedido?.statusPedido === 'EM_TROCA'"
                    mat-button
                    color="primary"
                    (click)="entregarItemParaTroca(itemPedido)">
                    Enviar Item
                </button>
            </div>
        </div>
    </div>

    <div class="detalhes-pedido-descriptions">
        <div class="detalhes-pedido-descriptions-content">
            <span>Total: {{ (detalhesPedido?.valorTotal | currency:'BRL').replace(".", ",") }}</span>
            <span>Data do Pedido: {{ detalhesPedido?.dataCriacao | date: 'dd/MM/YYYY'}}</span>
        </div>
        <div class="detalhes-pedido-descriptions-status">
            <span>Status: {{ detalhesPedido?.status }}</span>
        </div>
    </div>
</div>
