.liv-footer {
    position: fixed;
    bottom: 0;
    background-color: #232F3E;
    width: 100%;
    min-height: 250px;
    color: #fff;

    .liv-footer-copyrights {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #131A22;
        min-height: 35px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}