<div class="client">

    <div class="client-header">
        <h2>{{ !showMessage ? 'Cadastre-se': 'Confirmação' }}</h2>
        <mat-divider></mat-divider>
    </div>

    <form [formGroup]="formularioCliente" *ngIf="!showMessage"
        class="client-form-input">

        <div class="client-form-input_group" *ngIf="currentStep === 0">
            <mat-form-field class="client-form-input_group-input">
                <mat-label>Nome:</mat-label>
                <input matInput value="" formControlName="nome" id="nome">
                <mat-error *ngIf="formularioCliente.get('nome')?.hasError('required')">
                    O nome está <strong>incompleto.</strong>
                </mat-error>
            </mat-form-field>
    
            <mat-form-field class="client-form-input_group-input">
                <mat-label>Sobrenome:</mat-label>
                <input matInput value="" formControlName="sobrenome" id="sobrenome">
                <mat-error *ngIf="formularioCliente.get('sobrenome')?.hasError('required')">
                    O sobrenome está <strong>incompleto.</strong>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="client-form-input_group" *ngIf="currentStep === 0">
            <mat-form-field class="client-form-input_group-input">
                <mat-label>Aniversário:</mat-label>
                <input matInput value="" type="date" 
                    formControlName="dataNascimento" id="dataNascimento">
                <mat-error *ngIf="formularioCliente.get('dataNascimento')?.hasError('required')">
                    Data de nascimento está <strong>incompleta.</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="client-form-input_group-input">
                <mat-label>CPF:</mat-label>
                <input mask="000.000.000-00" id="cpf"
                    matInput type="text" formControlName="cpf">
                <mat-error *ngIf="formularioCliente.get('cpf')?.hasError('required')">
                    O cpf está <strong>incompleto.</strong>
                </mat-error>
            </mat-form-field>

            <div class="client-form-input_group-input client-form-input_group-input-genders">
                <mat-label>Gênero:</mat-label>
                <mat-radio-group aria-label="Selecione seu gênero" 
                    formControlName="genero">
                    <mat-radio-button value="m" id="rdMasculino">Masculino</mat-radio-button>
                    <mat-radio-button value="f">Feminino</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>

        <div class="client-form-input_group" *ngIf="currentStep === 0">
            <mat-form-field class="client-form-input_group-input">
                <mat-label>E-mail:</mat-label>
                <input matInput type="email" formControlName="email" id="email">
                <mat-error *ngIf="formularioCliente.get('email')?.hasError('required')">
                    O e-mail está <strong>incompleto.</strong>
                </mat-error>
                <mat-error *ngIf="formularioCliente.get('email')?.hasError('email')">
                    Endereço de email <strong>inválido.</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="client-form-input_group-input">
                <mat-label>Telefone Principal:</mat-label>
                <input mask="(00) 0000-0000" formControlName="telefone" id="telefone"
                    matInput type="text" placeholder="(ddd) 0000-0000">
                <mat-error *ngIf="formularioCliente.get('telefone')?.hasError('required')">
                    O telefone é <strong>obrigatório.</strong>
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="client-form-input_group-input">
                <mat-label>Senha:</mat-label>
                <input mask="AAAAAAAAAAAA" placeholder="insira até 12 caracteres"
                    matInput value="" type="password" formControlName="senha" id="senha">
                <mat-error *ngIf="formularioCliente.get('senha')?.hasError('required')">
                    A senha está <strong>incompleta.</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="client-form-input_group-input">
                <mat-label>Repita a senha:</mat-label>
                <input matInput value="" mask="AAAAAAAAAAAA" id="repeteSenha"
                    placeholder="insira até 12 caracteres" type="password" 
                    formControlName="confirmacaoSenha">
                <mat-error *ngIf="formularioCliente.get('confirmacaoSenha')?.hasError('required')">
                    Favor, <strong>redigite sua senha.</strong>
                </mat-error>
                <mat-error *ngIf="formularioCliente.get('confirmacaoSenha')?.hasError('mismatch')">
                    Senhas <strong> não estão iguais.</strong>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="client-form-input_group" *ngIf="currentStep === 1">
            <div class="client-form-input_group-header">
                <h3>Endereço de Entrega</h3>
                <mat-divider></mat-divider>
            </div>

            <div class="client-form-input_group-form_endereco">
                <mat-form-field>
                    <mat-label>Apelido:</mat-label>
                    <input matInput
                        placeholder="(opcional)" type="text">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>CEP:</mat-label>
                    <input matInput
                        placeholder="00000-000" mask="00000-000" type="text">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Tipo Logradouro: </mat-label>
                    <mat-select >
                        <mat-option 
                            *ngFor="let tipoLog of tipoLogradouros" 
                            [value]="tipoLog">
                            {{ tipoLog }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Endereço: </mat-label>
                    <input matInput
                        placeholder="rua, logradouro, avenida..." type="text">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Bairro:</mat-label>
                    <input matInput
                        placeholder="nome do seu bairro" type="text">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Complemento:</mat-label>
                    <input matInput 
                        placeholder="casa 1, ao lado de..." type="text">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Numero:</mat-label>
                    <input matInput 
                        type="text">
                </mat-form-field>
                <mat-form-field formGroupName="cidade">
                    <mat-label>Cidade:</mat-label>
                    <input matInput type="text" >
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Estado:</mat-label>
                    <mat-select>
                        <mat-option
                            *ngFor="let estado of estados" [value]="estado">
                            {{ estado.uf }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
        
                <mat-form-field>
                    <mat-label>País:</mat-label>
                    <input matInput 
                        placeholder="nome do seu bairro" type="text">
                </mat-form-field>
                <br>
                <mat-radio-group class="endereco-form-tipo_endereco"
                    aria-label="Tipo de Endereço">

                    <mat-label>Tipo de Endereço:</mat-label>

                    <mat-radio-button value="cobranca" #inputCobranca>
                        Cobrança
                    </mat-radio-button>
                    
                    <mat-radio-button value="entrega" #inputEntrega>
                        Entrega
                    </mat-radio-button>

                </mat-radio-group>
            </div>
        </div>

        <div class="client-form-input_group" *ngIf="currentStep === 2">
            <div class="client-form-input_group-header client-form-input_group-header-endereco">
                <h3>Endereço de Cobrança</h3> 
                <button mat-button>Copiar endereço de entrega</button>
                <mat-divider></mat-divider>
            </div>

            <div class="client-form-input_group-form_endereco">
                <mat-form-field>
                    <mat-label>Apelido:</mat-label>
                    <input matInput
                        placeholder="(opcional)" type="text">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>CEP:</mat-label>
                    <input matInput
                        placeholder="00000-000" mask="00000-000" type="text">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Tipo Logradouro: </mat-label>
                    <mat-select >
                        <mat-option 
                            *ngFor="let tipoLog of tipoLogradouros" 
                            [value]="tipoLog">
                            {{ tipoLog }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Endereço: </mat-label>
                    <input matInput
                        placeholder="rua, logradouro, avenida..." type="text">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Bairro:</mat-label>
                    <input matInput
                        placeholder="nome do seu bairro" type="text">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Complemento:</mat-label>
                    <input matInput 
                        placeholder="casa 1, ao lado de..." type="text">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Numero:</mat-label>
                    <input matInput 
                        type="text">
                </mat-form-field>
                <mat-form-field formGroupName="cidade">
                    <mat-label>Cidade:</mat-label>
                    <input matInput type="text" >
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Estado:</mat-label>
                    <mat-select>
                        <mat-option
                            *ngFor="let estado of estados" [value]="estado">
                            {{ estado.uf }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
        
                <mat-form-field>
                    <mat-label>País:</mat-label>
                    <input matInput 
                        placeholder="nome do seu bairro" type="text">
                </mat-form-field>
                <br>
                <mat-radio-group class="endereco-form-tipo_endereco"
                    aria-label="Tipo de Endereço">

                    <mat-label>Tipo de Endereço:</mat-label>

                    <mat-radio-button value="cobranca" #inputCobranca>
                        Cobrança
                    </mat-radio-button>
                    
                    <mat-radio-button value="entrega" #inputEntrega>
                        Entrega
                    </mat-radio-button>

                </mat-radio-group>
            </div>
        </div>
    </form>
    <div class="client-form-input_group client-form-button">
        <button mat-button *ngIf="currentStep !== 0" (click)="currentStep = currentStep-1">Voltar</button>

        <button mat-button *ngIf="currentStep === 0" (click)="currentStep = 1">Endereço Entrega</button>
        <button mat-button *ngIf="currentStep === 1" (click)="currentStep = 2">Endereço Cobrança</button>

        <button *ngIf="currentStep === 2" 
            mat-button (click)="submitCustomer()" 
            id="btnEnviar" color="primary">
            Finalizar Cadastro
        </button>

        <mat-progress-spinner *ngIf="isLoading"
            class="client-form-spinner"
            color="primary" diameter="50"
            mode="indeterminate">
        </mat-progress-spinner>
    </div>

    <div class="message_container" *ngIf="showMessage">
        <div class="message_container-header">
            <mat-icon *ngIf="!isSuccess">error_outline</mat-icon>
            <mat-icon *ngIf="isSuccess">check_circle_outline</mat-icon>
            <h1>{{ title || 'Erro ao cadastrar cliente '}}</h1>
        </div>
        <div class="message_container-description">
            <p>{{message || 'Houve falha ao cadastrar, por favor entrar em contato com admin'}}</p>
        </div>
    </div>
</div>