.client {
    margin: 0 auto;
    max-width: 800px;
    min-height: 500px;
    
    &-header {

        h2 { 
            margin-top: 35px;
            font-size: 1.8em;
        }

        mat-divider {
            margin-bottom: 35px;
        }
    }

    &-form-input {
        max-width: 500px;
    }

    &-form {
        max-width: 400px;

        &-input_group {
            margin-left: 15px;

            &-input {
                margin-left: 15px;

                &-genders {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    mat-radio-group {
                        display: flex;
                        gap: 5px;
                    }
                }
            }

            &-form_endereco {
                display: flex;
                gap: 8px;
                flex-wrap: wrap;
            }

            &-header {
                &-endereco {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }

        &-button {
            display: flex;
            justify-content: flex-end;
            
            button {
                width: 120px;
            }
        }

        &-spinner {
            left: 100%;
        }
    }
}

.message_container {
    
    &-header {
        display: flex;
        flex-direction: row;
    }
}