<div class="endereco-submitter">
    <h3>{{ enderecoAtual?.apelidoId || "Novo Endereço" }}</h3>
    <mat-divider></mat-divider>

    <form [formGroup]="formEndereco"
        class="endereco-form-tabs_container-form">
        <mat-form-field>
            <mat-label>Apelido:</mat-label>
            <input matInput formControlName="apelidoId"
                placeholder="(opcional)" type="text">
        </mat-form-field>

        <mat-form-field>
            <mat-label>CEP:</mat-label>
            <input matInput formControlName="cep"
                placeholder="00000-000" mask="00000-000" type="text">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Tipo Residência: </mat-label>
            <mat-select>
                <mat-option formControlName="tipoResidencia"
                    *ngFor="let tipoLog of tiposLogradouros" [value]="tipoLog.id">
                    {{ tipoLog.descricao }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Endereço: </mat-label>
            <input matInput formControlName="logradouro"
                placeholder="rua, logradouro, avenida..." type="text">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Bairro:</mat-label>
            <input matInput formControlName="bairro"
                placeholder="nome do seu bairro" type="text">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Complemento:</mat-label>
            <input matInput formControlName="complemento"
                placeholder="casa 1, ao lado de..." type="text">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Numero:</mat-label>
            <input matInput formControlName="numero"
                type="text">
        </mat-form-field>
        <mat-form-field formGroupName="cidade">
            <mat-label>Cidade:</mat-label>
            <input matInput type="text" formControlName="descricao">
        </mat-form-field>

        <mat-form-field formGroupName="cidade">
            <mat-label>Estado:</mat-label>
            <mat-select formGroupName="estado">
                <mat-option *ngFor="let estado of estados" [value]="estado">
                    {{estado}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>País:</mat-label>
            <input matInput formControlName="pais"
                placeholder="nome do seu bairro" type="text">
        </mat-form-field>
        <br>
        <mat-radio-group
            aria-label="Tipo de Endereço">
        <mat-label>Tipo de Endereço:</mat-label>
        <mat-radio-button value="cobranca" #inputCobranca 
            [checked]="formEndereco?.get('tipoEndereco')?.value === 'cobranca'"
            (click)="updateTipoEndereco(inputCobranca.value)">
            Cobrança
        </mat-radio-button>
        
        <mat-radio-button 
            value="entrega" #inputEntrega
            [checked]="formEndereco?.get('tipoEndereco')?.value  === 'entrega'"
            (click)="updateTipoEndereco(inputEntrega.value)">
            Entrega
        </mat-radio-button>

    </mat-radio-group>
    </form>
    <div class="button">
        <button mat-button>{{ enderecoAtual? "Atualizar": "Enviar" }}</button>
    </div>
</div>