<div class="carrinho">
    <div class="carrinho-header">
        <h2>Carrinho</h2>
        <mat-divider></mat-divider>
    </div>
    <div class="carrinho-content" *ngIf="!(carrinho$ | async).length">
        <span>Nenhum item foi adicionado no carrinho ainda. :/</span>
        <button mat-button (click)="router.navigate(['/livraria/estoque'])" id="btnConsultarEstoque">Consultar Estoque</button>
    </div>
    <div class="carrinho-table" *ngIf="(carrinho$ | async).length">
        <table>
            <tr>
                <th>ITEM</th>
                <th>VALOR</th>
                <th>QTDE</th>
            </tr>
            <tr class="carrinho-table-item_line"
                *ngFor="let item of (carrinho$ | async); let i = index">
                <td class="carrinho-table-item_line-item">
                    <img [src]="item.produto.url"  alt="item">
                    <span>{{item.produto.titulo}}</span>
                </td>
                <td class="carrinho-table-item_line-valor">{{ item.produto.valorVenda | moneyFormatter }}</td>
                <td>
                    <button class="menos"
                        (click)="minusQuantidade(item.produto.id, inpQtdeCarrinho.value)">-</button>
                    <input
                        class="carrinho-table-item_line-amount_input"
                        type="text" [value]="item.produto.quantidadeSelecionada" #inpQtdeCarrinho>
                    <button class="mais"
                        (click)="plusQuantidade(item.produto.id, inpQtdeCarrinho.value, item.produto.estoque)">+</button>
                </td>
                <td class="carrinho-table-item_line-option">
                    <span (click)="removerItemCarrinho(item?.id)">Remover</span>
                </td>
            </tr>
        </table>

        <div>
            <div class="carrinho-content-subtotal">
                <div>
                    <span>Sub-total:</span><span>{{ total | moneyFormatter}}</span>
                </div>
                <br>
                <div>
                    <span>Total à pagar: </span><span>{{ total+valorFrete | moneyFormatter}}</span>
                </div>
            </div>
        </div>

        <div class="carrinho-content">

            <div class="carrinho-content-adress_selector"
              *ngIf="isUsuarioAutenticado">
                <h3>Taxa de entrega</h3>
                <mat-divider></mat-divider>

                <mat-radio-group [(ngModel)]="flgMyAddress"
                    (change)="enderecoSelecionado = undefined; isGravarNovoEndereco = false"
                    class="carrinho-content-adress_selector-radio">
                    <mat-radio-button [value]="true" id="cbEnderecoPerfil">
                        Escolher entre os meus endereços de entrega
                    </mat-radio-button>
                    <mat-radio-button [value]="false" id="cbNovoEndereco">
                        Novo Endereço de Entrega
                    </mat-radio-button>
                </mat-radio-group>
                <br>

                <mat-form-field appearance="fill" *ngIf="flgMyAddress" id="formFieldMyEndereco">
                    <mat-label>Selecione um endereço</mat-label>
                    <mat-select id="matSelectEndereco" [(ngModel)]="enderecoSelecionado" id="slcEnderecoPerfil">
                        <mat-option *ngFor="let endereco of enderecosEntrega" (click)="calcularFrete()"
                            [value]="endereco" class="enderecoPerfilOption">
                            {{endereco.cep}} - {{endereco.logradouro}}, {{endereco.numero}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div *ngIf="!flgMyAddress"
                    class="carrinho-content-adress_selector-form">
                    <mat-form-field>
                        <mat-label>CEP</mat-label>
                        <input #cepInput matInput mask="00000000" id="txtCep">
                    </mat-form-field>
                    <button mat-button (click)="buscarEnderecoPor(cepInput.value)" id="btnBuscarEndereco">buscar</button>
                    <mat-spinner diameter="30" *ngIf="isLoading"></mat-spinner>
                </div>

                <div *ngIf="enderecoSelecionado" class="carrinho-content-adress_selector-address_label">
                    <div class="carrinho-content-adress_selector-address_label-selected">
                        <mat-icon>check_box</mat-icon>
                        <span>{{ enderecoSelecionado.logradouro || 'desconhecido' }}, {{enderecoSelecionado.pais || 'desconhecido'}}</span>
                    </div>
                    <div *ngIf="!flgMyAddress">
                        <mat-checkbox [(ngModel)]="isGravarNovoEndereco">Desejo gravar este endereço</mat-checkbox>
                    </div>
                </div>
            </div>

            <div class="carrinho-content-adress_selector"
                *ngIf="!isUsuarioAutenticado">
                <h3>Taxa de entrega</h3>
                <mat-divider></mat-divider>

                <span>Ops! Não é possível finalizar o processo de seleção de endereço.</span>

                <div class="carrinho-content-adress_selector-options">
                    <button mat-raised-button id="acessarPaginaLogin"
                        color="primary" (click)="router.navigate(['/livraria/login'])">
                        Entrar
                    </button>
                    <a (click)="router.navigate(['/livraria/novo-cliente'])">
                        Cadastre-se aqui!
                    </a>
                </div>
            </div>
        </div>

        <div class="carrinho-step_one">
            <div class="carrinho-step_one-valor_frete"
                *ngIf="isUsuarioAutenticado">
                <span>Valor Frete:</span><span> {{valorFrete | moneyFormatter}}</span>
                <mat-spinner diameter="30" *ngIf="isLoading"></mat-spinner>
            </div>
        </div>

        <formulario-cartoes (formaPagamentoSelecionado)="obterCartoesSelecionados($event)"
            *ngIf="isUsuarioAutenticado"></formulario-cartoes>

        <div class="carrinho-step_one-cupom" *ngIf="isUsuarioAutenticado">
            <h3>Meus Cupons (Opcional)</h3>
            <mat-divider></mat-divider>

            <div class="carrinho-step_one-cupom-painel">
                <div class="carrinho-step_one-cupom-painel-promo">
                    <mat-form-field>
                        <mat-label>Cupom Promocional:</mat-label>
                        <input matInput placeholder="Digite o código do cupom" [formControl]="codCupomPromoInput">
                    </mat-form-field>
                    <button mat-button (click)="adicionarCupomPromocional()">+ Adicionar</button>
                </div>

                <mat-form-field>
                    <mat-label>Cupons de Troca:</mat-label>
                    <mat-select multiple [disabled]="!cuponsTroca.length" id="cupomTrocaSelector"
                        [(ngModel)]="cupomTrocaSelecionado">
                      <mat-option *ngFor="let cupom of cuponsTroca" [value]="cupom">
                          {{cupom.nome}} - {{ cupom.valor | currency:'BRL':true:'1.2-2'}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        
        <div class="carrinho-step_one-cupom">
            <span *ngIf="cupomPromocionalSelecionado">Desconto de: {{ cupomPromocionalSelecionado.valor | currency:'BRL'}}</span>
        </div>

        <div class="carrinho-step_one-options">
            <button mat-button color="accent" (click)="router.navigate(['/livraria/estoque'])" 
                id="btnContinuaCompra">
                Continuar comprando
            </button>
            <button class="carrinho-step_one-options-btn_finaliza" id="btnFinalizar"
                mat-button color="primary" (click)="finalizarPedido()">Finalizar Pedido</button>
        </div>
    </div>
</div>
