<div class="carrinho">
    <div class="carrinho-header">
        <h2>Carrinho</h2>
        <mat-divider></mat-divider>
    </div>
    <div class="carrinho-content" *ngIf="!(carrinho$ | async).length">
        <span>Nenhum item foi adicionado no carrinho ainda. :/</span>
    </div>
    <div class="carrinho-table" *ngIf="(carrinho$ | async).length">
        <table>
            <tr>
                <th>ITEM</th>
                <th>VALOR</th>
                <th>QTDE</th>
            </tr>
            <tr class="carrinho-table-item_line" 
                *ngFor="let item of carrinho$ | async">
                <td class="carrinho-table-item_line-item">
                    <img src="{{item.produto.url}}" 
                        alt="item">
                    <span>{{item.produto.nome}}</span>
                </td>
                <td class="carrinho-table-item_line-valor">{{item.produto.valor | moneyFormatter}}</td>
                <td>
                    <button id="menos"
                        (click)="minusQuantidade(item.id, inpQtdeCarrinho.value)">-</button>
                    <input 
                        class="carrinho-table-item_line-amount_input" 
                        type="text" [value]="item.quantidade" #inpQtdeCarrinho>
                    <button  id="mais"
                        (click)="plusQuantidade(item.id, inpQtdeCarrinho.value, item.produto.qtdeMaxima)">+</button>
                </td>
                <td class="carrinho-table-item_line-option">
                    <span (click)="removerItemCarrinho(item)">Remover</span>
                </td>
            </tr>
        </table>

        <div>
            <div class="carrinho-content-subtotal">
                <div>
                    <span>Sub-total:</span><span>{{total | moneyFormatter}}</span>
                </div>
                <br>
                <div>
                    <span>Total: </span><span>{{total+valorFrete | moneyFormatter}}</span>
                </div>
            </div>
        </div>

        <div class="carrinho-content">

            <div class="carrinho-content-adress_selector"
              *ngIf="isUsuarioAutenticado">
                <h3>Taxa de entrega</h3>
                <mat-divider></mat-divider>

                <mat-radio-group [(ngModel)]="isMyEndereco" (change)="enderecoSelecionado = undefined"
                    aria-label="Select an option" class="carrinho-content-adress_selector-radio">
                    <mat-radio-button [value]="true" [checked]="isMyEndereco" id="rdMeusEnderecos">
                        Escolher entre os meus endereços de entrega
                    </mat-radio-button>
                    <mat-radio-button [value]="false" id="rdNovoEndereco">
                        Novo Endereço de Entrega
                    </mat-radio-button>
                </mat-radio-group>
                <br>

                <mat-form-field appearance="fill" *ngIf="isMyEndereco">
                    <mat-label>Selecione um endereço</mat-label>
                    <mat-select id="matSelectEndereco">
                        <mat-option *ngFor="let endereco of enderecosEntrega" 
                            [value]="endereco" (click)="enderecoSelecionado = endereco">
                            {{endereco.cep}} - {{endereco.logradouro}}, {{endereco.numero}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div *ngIf="!isMyEndereco"
                    class="carrinho-content-adress_selector-form">
                    <mat-form-field>
                        <mat-label>CEP</mat-label>
                        <input matInput mask="00000-000" id="txtCep">
                    </mat-form-field>
                    <button mat-button>buscar</button>
                    <mat-spinner diameter="30" *ngIf="isLoading"></mat-spinner>
                </div>
            </div>

            <div class="carrinho-content-adress_selector"
                *ngIf="!isUsuarioAutenticado">
                <h3>Taxa de entrega</h3>
                <mat-divider></mat-divider>

                <span>Ops! Não é possível finalizar o processo de seleção de endereço.</span>

                <div class="carrinho-content-adress_selector-options">
                    <button mat-raised-button id="acessarPaginaLogin"
                        color="primary" (click)="router.navigate(['/livraria/login'])">
                        Entrar
                    </button>
                    <a (click)="router.navigate(['/livraria/novo-cliente'])">
                        Cadastre-se aqui!
                    </a>
                </div>
            </div>
        <!-- 
            <div class="carrinho-content-action">
                <button mat-button color="accent" 
                    id="btnFinalizarPedido"
                    (click)="finalizarCompra()">
                    Finalizar
                </button>
            </div> -->
        </div>

        <div class="carrinho-step_one">
            <div class="carrinho-step_one-valor_frete"
                *ngIf="isUsuarioAutenticado">
                <span>Valor Frete:</span><span> {{valorFrete | moneyFormatter}}</span>
                <button mat-button id="btnCalcularFrete"
                    (click)="calcularFrete()">
                    Calcular
                </button>
                <mat-spinner diameter="30" *ngIf="isLoading"></mat-spinner>
            </div>
        </div>

        <formulario-cartoes (formaPagamentoSelecionado)="obterCartoesSelecionados($event)"
            *ngIf="isUsuarioAutenticado"></formulario-cartoes>

        <div class="carrinho-step_one-cupom" *ngIf="isUsuarioAutenticado">
            <h3>Meus Cupons (Opcional)</h3>
            <mat-divider></mat-divider>

            <div class="carrinho-step_one-cupom-painel">
                <mat-form-field>
                    <mat-label>Cupons Promocionais:</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let cupom of cuponsPromocionais" [value]="cupom">
                            {{cupom.codigo}} - {{ cupom.valor | currency:'BRL':true:'1.2-2'}}
                        </mat-option>
                      </mat-select>
                </mat-form-field> 
    
                <mat-form-field>
                    <mat-label>Cupons de Troca:</mat-label>
                    <mat-select multiple>
                      <mat-option *ngFor="let cupom of cuponsTroca" [value]="cupom">
                          {{cupom.codigo}} - {{ cupom.valor | currency:'BRL':true:'1.2-2'}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="carrinho-step_one-options">
            <button mat-button color="accent" (click)="router.navigate(['/livraria/estoque'])">Continuar comprando</button>
            <button mat-button color="primary">Finalizar Pedido</button>
        </div>
    </div>
</div>