<div class="consulta_vendas">
    <div class="consulta_vendas-header">
        <h2>Gestão de Vendas</h2>
        <mat-divider></mat-divider>
    </div>

    <div class="consulta_vendas-header-filtro">
      <mat-form-field *ngIf="selectedFilterOption === 'codigo'">
        <mat-label>Filtro de busca:</mat-label>
        <input type="text" matInput placeholder="codigo">
      </mat-form-field>

      <mat-form-field *ngIf="selectedFilterOption === 'status'">
        <mat-label>Status Filtro:</mat-label>
        <select matNativeControl [(ngModel)]="selectedFilterOption">
          <option value="PAGAMENTO_APROVADO">PAGAMENTO APROVADO</option>
          <option value="PAGAMENTO_RECUSADO">PAGAMENTO RECUSADO</option>
          <option value="EM_PROCESSAMENTO">EM PROCESSAMENTO</option>
          <option value="EM_TRANSPORTE">EM TRANSPORTE</option>
          <option value="ENTREGUE">ENTREGUE</option>
          <option value="CANCELADO">CANCELADO</option>
        </select>
      </mat-form-field>


      <mat-form-field>
        <mat-label>Propriedade</mat-label>
        <select matNativeControl #opcaoFiltro [(ngModel)]="selectedFilterOption">
          <option value="status">Status</option>
          <option value="codigo">Codigo</option>
        </select>
      </mat-form-field>

      <button mat-button (click)="filtrarVendas()">Pesquisar</button>
    </div>

    <div class="consulta_vendas-content">
      <span *ngIf="!dataSource">Nenhuma venda encontrada</span>
      <table mat-table [dataSource]="dataSource" id="tabelaVendasAdmin"
        *ngIf="dataSource"
        class="mat-elevation-z8">

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
          </ng-container>

          <ng-container matColumnDef="numero">
            <th mat-header-cell *matHeaderCellDef> Número </th>
            <td mat-cell *matCellDef="let element"> {{ element.numero }} </td>
          </ng-container>

          <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef> Data </th>
            <td mat-cell *matCellDef="let element"> {{element.dataCriacao | date:'dd/MM/YYYY' }} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>

          <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef>Opções </th>
            <td mat-cell *matCellDef="let element">

                <button mat-button (click)="avancarPedido(element.id)"
                  color="primary" *ngIf="element.status === 'EM_TRANSPORTE'">
                  Confirmar entrega
                </button>

                <button mat-button (click)="avancarPedido(element.id)"
                  color="primary" *ngIf="element.status === 'PAGAMENTO_REALIZADO'">
                  Despachar Pedido
                </button>

                <button mat-button
                  color="warn" (click)="abrirModalDetalhes(element)">
                  Detalhes
                </button>
            </td>

          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator #paginator
        [pageSize]="5"
        [pageSizeOptions]="[5, 10]">
      </mat-paginator>
  </div>
</div>
