.consulta_vendas {
    margin: 0 auto;
    padding: 15px;
    min-height: 600px;

    &-header {

        h2 { 
            margin-top: 35px;
            font-size: 1.8em;
        }

        mat-divider {
            margin-bottom: 35px;
        }

        &-filtro {
            display: flex;
            flex-direction: row;
            width: 100%;
            gap: 15px;
        }
    }

    &-content {
       
        table {
            width: 100%;
        }
    }
}