<mat-toolbar class="liv-header">
    <div class="liv-header-logo">
        <span>logo</span>
    </div>
    <!-- <div class="liv-header-search_bar">
        search-bar
    </div> -->
    <div class="liv-header-painel">
        <div class="liv-header-painel-account">
            <span>Olá, Faça seu login </span>
            <span>Acesso a Conta</span>
        </div>

        <div class="liv-header-painel-cart">
            <mat-icon>shopping_cart</mat-icon>
        </div>
    </div>
</mat-toolbar>

<div class="container-absolute">
    <div class="container-absolute-item">
        ola
    </div>
</div>