<mat-toolbar class="liv-header">
    <div class="liv-header-left_logo">
        <img class="liv-header-left_logo-image" (click)="navigateToHome()"
            src="../../../assets/img/logo-2.svg" alt="logotipo">
    </div>
    <div class="liv-header-search_bar">
        <input type="text"><button mat-button color="accent">Pesquisar</button>
    </div>
    <div class="liv-header-right_painel">
        <a class="liv-header-right_painel-account" (click)="showPainel = !showPainel">
            <span class="liv-header-right_painel-account-login">
                Olá, Faça seu login 
            </span>
            <div class="liv-header-right_painel-account-account">
                <span>
                    Acesso a Conta 
                </span>
                <mat-icon>play_arrow</mat-icon>
            </div>
        </a>

        <div class="liv-header-right_painel-cart">
            <mat-icon (click)="navigateToCart()">shopping_cart</mat-icon>
        </div>
    </div>
</mat-toolbar>

<div class="dialog-absolute" *ngIf="showPainel">
    <div class="dialog-absolute-item">
        <button 
            mat-raised-button
            color="primary">
            Entrar
        </button>
        <span>ou</span>
        <a (click)="navigateToClientRegister()">
            Cadastre-se aqui!
        </a>
    </div>
</div>